.header
    &__wraper
        min-height: 607px

.active
    transition: .5s
    &::before
        content: ""
        position: absolute
        width: 100%
        top: -10px
        right: 0
        height: 1px
        background-color: $alternative-text-color
.underline
    position: relative
    &-alternative, &-text
        position: relative
    &-alternative::before, &-text::before
        content: ""
        position: absolute
        width: 100%
        top: -10px
        right: 0
        height: 1px
        transition-duration: 0.2s
        transition-delay: .3s
        transform: scaleX(0)        
    &-alternative::before
        background-color: $alternative-text-color
    &-text::before
        background-color: $text-color   
    &-alternative:hover::before, &-text:hover::before
        transform: scaleX(1)
.transparentText
    &__small
        & a, span
            font-size: 0.8rem
            color: rgba(#999, 1)
button:focus
    outline: none
.label
    display: block 
    font-size: 1.25rem
    line-height: 1.4
    color: #333
    overflow: hidden
.cookie-consent
    position: fixed
    left: 0
    bottom: 0
    display: flex
    justify-content: center
    width: 100%
    z-index: 1000
    &__wrap
        display: flex
        flex-direction: column
        align-items: center
        width: 75%
        padding: 1em
        background: rgb(45 114 217 / 0.95)
    &__message
        font-weight: 500
        color: #fff
        & a
            color: #fff
            text-decoration: underline
            &:hover
                color: #f9f7f7
                text-decoration: underline
    &__buttons
        padding-top: 10px
    &__agree, &__disagree
        padding: 5px 15px 
        border: none
        font-weight: 500
        color: #fff
        cursor: pointer
    &__agree    
        background: #03a728
        &:hover
           background: #01a025 
    &__disagree
        display: none
        background: #a70303
        &:hover
           background: #a00101 
.slick
    &-active, &-slide, &-initialized
        display: flex
        outline: none
        &:focus, &:active
            outline: none
.arrow
    position: absolute
    z-index: 99
    width: 2rem
    height: 2rem
    border: none
    top: 50%
    transform: translateY(-50%)
.prev
    left: 0
    background: url('../images/prev.png') center no-repeat
    background-size: 50%
.next
    right: 0
    background: url('../images/next.png') center no-repeat
    background-size: 50%
