.header__wraper
    background: #375AAB url(../images/hero-bg.png) no-repeat 100%
    background-size: cover
    background-attachment: fixed
    
.navbar
    width: 100%
    height: 40px
    position: fixed
    top: 40px
    background-color: transparent
    transition: .5s
    z-index: 999
    &__1
        width: 100%
        height: 40px
        position: fixed
        top: 0
        background-color: $alternative-text-color
        z-index: 999
    & a
        color: $alternative-text-color 
    & a:hover
        color: $alternative-text-color
    &-wrap
        width: 100%
        margin-top: -5px
        display: flex
        justify-content: space-between
        align-items: center
        &_1
            width: 100%
            margin-top: -5px
            display: flex
            justify-content: space-between
            align-items: center
   
    &__white
        top: 0
        background-color: $alternative-text-color
        & a 
            color: $text-color
        & a:hover
            color: $text-color
.logo
    width: 87px

.menu
    position: fixed
    z-index: 0
    top: 80px
    left: 0
    width: 100%
    padding: 15px 0
    transition: transform 0.5s linear
    background:  rgba(#23469a, .7)
    transform: translateY(-100%)
    opacity: 0
    z-index: 99
    transition: 0.5s
    &__1
        position: fixed
        z-index: 0
        top: 40px
        left: 0
        width: 100%
        padding: 15px 0
        transition: transform 0.5s linear
        background:  rgba(#23469a, .7)
        transform: translateY(-100%)
        opacity: 0
        z-index: 99
        transition: 0.5s
    &_active
        transform: translateY(0%)
        opacity: 1
        transition: 0.5s
    &__nav
        display: flex
        align-items: center
        justify-content: space-between
    &__link
        position: relative
        font-size: 17px
        text-transform: uppercase
        color: $alternative-text-color
        transition: 0.5s
        &::after
            content: ""
            position: absolute
            width: 100%
            top: -5px 
            right: 0
            height: 1px
            background-color: $alternative-text-color
            transform: scaleX(0)
            transition: 0.5s
    &__link:hover
        color: $alternative-text-color
        &::after
           transform: scaleX(1)
    &-btn
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-end
        background-color: transparent
        width: 35px
        height: 20px
        border: none
        cursor: pointer
        outline: none
        & :nth-child(2)
            width: 30px
        & :nth-child(3)
            width: 25px
        &__line
            display: block
            background-color: $alternative-text-color
            width: 35px
            height: 3px
            margin: 2px 0
            transition: 0.2s
            &__1
                display: block
                background-color: $text-color
                width: 35px
                height: 3px
                margin: 2px 0
                transition: 0.2s
            &_white
                background: $text-color
        &--active
            transition: 0.5s
            & :nth-child(1)
                transform: rotate(45deg) translate(1px, 2px)
                transform-origin: center
                width: 20px
            & :nth-child(2)
                display: none
            & :nth-child(3)
                transform: rotate(-45deg) translate(3px, -4px)
                width: 20px
                transform-origin: center

@media screen and ( max-width: 779px )
    .menu
        height: 50%
        background: rgba(35, 70, 154, .95)
        &__nav
            display: flex
            flex-direction: column
            height: 100%
        &__link
            font-size: 14px
.active
    &::before
        top: -5px
.container
    height: 100%
@media screen and ( max-width: 476px )        
    .navbar
        &__phone, &__email 
            display: none



